
Milionare/\.vs/Milionare/v14/\.suo

Milionare/Milionare/bin/Debug/Milionare\.exe

Milionare/Milionare/bin/Debug/Milionare\.pdb

Milionare/Milionare/obj/Debug/DesignTimeResolveAssemblyReferences\.cache

Milionare/Milionare/obj/Debug/Milionare\.csproj\.GenerateResource\.Cache

*.exe

Milionare/Milionare/obj/Debug/Milionare\.pdb
